html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body {
  background-color: #B4B4B4;
}

nav {
  background-color: #B4B4B4;
  font-size: 0.938em;
}

footer {
  background-color: rgba(133, 18, 18, 0.9);
  color: white;
}

.navbar-brand {
  margin-left: 0%;
}

.navbar-nav {
  position: absolute;
  left: 20%;
  transform: translatex(-50%);
}

.navbar-nav a {
  color: #a11212;
  padding-bottom: 0%;
}

.navbar-nav a:hover {
  color: #6e0c0c;
}

.navbar-nav a:focus, .navbar-nav a:active {
  color: #ff0808;
}

.activenav {
  border-bottom: 2px solid #a11212;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(161, 18, 18, 0.95)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.logo {
  height: 100px;
  width: 100px;
}

.carouseltitle {
  color: #a11212;
  padding-left: auto;
  text-align: center;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-container {
  margin-left: 0%;
  margin-right: 0%;
}

.carousel-caption {
  background: rgba(161, 18, 18, 0.65);
}

.jumbotron-fluid {
  text-align: center;
  background:
    linear-gradient(rgba(161, 18, 18, 0.55),
      rgba(161, 18, 18, 0.35)),
    url("img/jumbotron.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position-y: center;
  padding: 100px;
  color: white;
}
.side-col{
  margin-left: 0%;
  margin-right: 0%;
}
.dayitem {
  width: 57%;
  /* 250px x 300px */
  height: 24%;
  float: right;
  background-color: rgba(161, 18, 18, 1);
  text-align: center;
  margin: 0px 4px;
  padding: 0px;
  margin-bottom: 0px;
  color: #dbdbdb;
  margin-right: 0%;
}

.dayitemimage {
  width: 68%;
  /* 250px x 300px */
  height: 72%;
  border: 3px rgba(161, 18, 18, 0.95) solid;
}

.dayitemcap {
  background-color: rgba(161, 18, 18, 0.95);
}

.sampleleft {
  height: 53.39%;
  width: 45.18%;
  margin-left: 10px;
  border: 3px rgba(161, 18, 18, 0.95) solid;
}

.customer {
  position: absolute;
  top: 49%;
  left: 7%;
  color: white;
  background-color: rgba(161, 18, 18, 0.85);
  padding: 1.5%;
  font-size: 100%;
}

.homeproducttitle {
  color: #a11212;
  padding-left: auto;
  text-align: center;
  margin-top: 50px;
}

.cardindex {
  margin-bottom: 30%;
  margin-left: 5%;
  margin-right: 5%;
  width: 85%;
  height: 85%;
  transition: transform .45s;
}

.cardindex:hover {
  transform: scaleX(1.20) scaleY(1.20);
}

.card-body-index {
  padding: 0px;
}

.card-img-index {
  width: 100%;
  height: 100%;
  border: 3px rgba(161, 18, 18, 0.95) solid;
}

.card-title-index {
  color: white;
  background-color: rgba(161, 18, 18, 0.65);
  text-align: center;
  padding: 10px;
  margin-top: 100%;
  font-size: 0.938em;
}

.cardgroup {
  display: block;
  margin-left: 5%;
  margin-right: 5%;
}

.footerlink {
  color: white;
}
.text-right{
  text-align: right;
  margin-right: 5%;
}
.checked {
  color: #a11212;
}
.reviewtable{
  margin-left: 5%;
  margin-right: 5%;
}
.reviewtd{
  padding: 1%;
}
.reviewcard{
  border: 3px rgba(161, 18, 18, 0.95) solid;

}
.review-card-title{
  margin-bottom:0%;
}
.contact{
  text-align: center;
}
.contactform{

}
.contactinput{
border: 3px rgba(161, 18, 18, 0.95) solid;
}
.contacttextarea{
  margin-top: 0.50%;
border: 3px rgba(161, 18, 18, 0.95) solid;
}
.map{
  border: 3px rgba(161, 18, 18, 0.95) solid;
height: 100%;
width: 90%;
}
.contact-info {
  color: #a11212;
}
.submit{
  background-color: #a11212;
  border: none;
  color: white;
  padding: 15px 32px;
  cursor: pointer;
  transition: border-radius 1s;
}
.submit:hover{
  background-color: #6e0c0c;
  border-radius: 25%;

}
.carousel-cell {
  width: 22%;
  height: 400px;
  margin-right: 15px;
  background: rgba(255, 0, 0, 0);



  display: -webkit-box;
display: -webkit-flex;
display:         flex;
-webkit-box-pack: center;
-webkit-justify-content: center;
        justify-content: center;
-webkit-align-items: center;
        align-items: center;



        -webkit-transform: scale(0.85);
         transform: scale(0.85);
 -webkit-transition:  -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
         transition: transform 0.3s, filter 0.3s;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 400px;
  font-size: 80px;
  color: white;
}
.carousel-cell img {
  width: 300px;
  height: 400px;
  margin-right: 15px;
}
.carousel-cell.is-selected{
  -webkit-transform: scale(1);
   transform: scale(1);
-webkit-transition:  -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
   transition: transform 0.3s, filter 0.3s;
}
.flickity-page-dots{
    display:none;
}
.catalogue-category{
    text-align: center;
  background-color: #B4B4B4;
  color: rgba(133, 18, 18, 0.9);
}
.catalogue-category-alt{
  text-align: center;
  background-color: rgba(133, 18, 18, 0.9);
  color: #ffffff;
}
.anchor-catalogue{
  text-decoration: none;
    font-weight: bold;
    overflow-wrap: break-word;

    color: white;
}
.anchor-catalogue:hover{
  text-decoration: none;
  color: white;
}
.paragraph-catalogue{
  text-decoration: none;
    overflow-wrap: break-word;
    color: white;
}
.catalogue-cap{
  position: absolute;
  bottom: 15%;
  text-align: center;
  background-color: rgba(133, 18, 18, 0.90);
  color: white;
  padding: 20px;
  transition: bottom 1s linear,  left 1s linear;
  opacity: 0;
height: 250px;
width: 175px;
max-width: 175px;
max-height: 250px;
}
.is-selected .catalogue-cap{
  bottom: 20%;
  left: -25%;
  opacity: 1;
animation-name: fadeInOpacity;
animation-iteration-count: 1;
animation-timing-function: linear;
animation-duration: 1s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.anchor-catalogue-alt{
  text-decoration: none;
  font-weight: bold;
  overflow-wrap: break-word;
  max-width: 200px;
  color: rgba(133, 18, 18, 0.90);
}
.anchor-catalogue-alt:hover{
  text-decoration: none;
  color: rgba(133, 18, 18, 1);
}
.catalogue-cap-alt{
  position: absolute;
  bottom: 15%;
  text-align: center;
  background-color: rgba(180, 180, 180, 0.90);
  padding: 20px;
  transition: bottom 1s linear,  left 1s linear;
  opacity: 0;
height: 250px;
width: 175px;
max-width: 175px;
max-height: 250px;
}
.is-selected .catalogue-cap-alt{
  bottom: 20%;
  left: -25%;
  opacity: 1;
animation-name: fadeInOpacity;
animation-iteration-count: 1;
animation-timing-function: linear;
animation-duration: 1s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.paragraph-catalogue-alt{
  text-decoration: none;
    overflow-wrap: break-word;
    color: rgba(133, 18, 18, 0.90);
}
.about {
  color: #a11212;
  text-align: center;
}
.about-body {
  color: #9c1313;
}
.product-img{
height: 75%;
width: auto;
border: 2px solid #a11212;
padding: 0%;
}
.product-header{
  text-align: center;
  color: #a11212;
}
#email{
  margin-top:1%;
  margin-right: auto;
}
#firstname{
margin-right: 0.5%;
}
#lastname{
margin-left: 0.5%;
}
#carouselExampleIndicators {
  border: 3px solid #a11212;
}

#cart {
  position: absolute;
  right: 2%;
}
#navbar{
  padding-bottom: 0%;
}
