html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body {
  background-color: #B4B4B4;
}

nav {
  background-color: #B4B4B4;
  font-size: 0.938em;
}

footer {
  background-color: rgba(133, 18, 18, 0.9);
  color: white;
}
/* Navigation */
.navbar-brand {
  margin-left: 0%;
  margin-right: 1%;
}

.navbar-nav {
margin-left: 1%;
}

.navbar-nav a {
  color: #a11212;
  padding-bottom: 0%;
}

.navbar-nav a:hover {
  color: #6e0c0c;
}

.navbar-nav a:focus, .navbar-nav a:active {
  color: #ff0808;
}

.activenav {
  border-bottom: 2px solid #a11212;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(161, 18, 18, 0.95)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.logo {
  height: 100px;
  width: 100px;
}
#cart {
  position: absolute;
  right: 2%;
}
#navbar{
  padding-bottom: 0%;
}
/* Index title */
.carouseltitle {
  color: #a11212;
  padding-left: auto;
  text-align: center;
}
/* Index carousel style */
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-container {
  margin-left: 0%;
  margin-right: 0%;
}

.carousel-caption {
  background: rgba(161, 18, 18, 0.65);
}

#carouselExampleIndicators {
  border: 3px solid #a11212;
}
/* Jumbotron */
.jumbotron-fluid {
  text-align: center;
  background:
    linear-gradient(rgba(161, 18, 18, 0.55),
      rgba(161, 18, 18, 0.35)),
    url("img/jumbotron.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position-y: center;
  padding: 100px;
  color: white;
}
/* The index side columns */
.side-col{
  margin-left: 0%;
  margin-right: 0%;
}
/* Item of the day */
.dayitem {
  width: 57%;
  /* 250px x 300px */
  height: 24%;
  float: right;
  background-color: rgba(161, 18, 18, 1);
  text-align: center;
  margin: 0px 4px;
  padding: 0px;
  margin-bottom: 0px;
  color: #dbdbdb;
  margin-right: 0%;
}

.dayitemimage {
  width: 68%;
  /* 250px x 300px */
  height: 72%;
  border: 3px rgba(161, 18, 18, 0.95) solid;
}

.dayitemcap {
  background-color: rgba(161, 18, 18, 0.95);
}
/* Satisfied Customer */
.sampleleft {
  height: 53.39%;
  width: 45.18%;
  margin-left: 10px;
  border: 3px rgba(161, 18, 18, 0.95) solid;
}

.customer {
  position: absolute;
  top: 49%;
  left: 7%;
  color: white;
  background-color: rgba(161, 18, 18, 0.85);
  padding: 1.5%;
  font-size: 100%;
}
/* Seasonal Products Title */
.homeproducttitle {
  color: #a11212;
  padding-left: auto;
  text-align: center;
  margin-top: 50px;
}
/* Seasonal Products */
.cardindex {
  margin-bottom: 30%;
  margin-left: 5%;
  margin-right: 5%;
  width: 85%;
  height: 85%;
  transition: transform .45s;
}

.cardindex:hover {
  transform: scaleX(1.20) scaleY(1.20);
}

.card-body-index {
  padding: 0px;
}

.card-img-index {
  width: 100%;
  height: 100%;
  border: 3px rgba(161, 18, 18, 0.95) solid;
}

.card-title-index {
  color: white;
  background-color: rgba(161, 18, 18, 0.65);
  text-align: center;
  padding: 10px;
  margin-top: 100%;
  font-size: 0.938em;
}

.cardgroup {
  display: block;
  margin-left: 5%;
  margin-right: 5%;
}
/* Footer */
.footerlink {
  color: white;
}

.text-right{
  text-align: right;
  margin-right: 5%;
}
/* Contact page */
.contact{
  text-align: center;
}
/* Contact info input */
.contactinput{
border: 3px rgba(161, 18, 18, 0.95) solid;
}
.contacttextarea{
margin-top: 0.50%;
border: 3px rgba(161, 18, 18, 0.95) solid;
width: 100%;
}
/* Contact Form Enter Area */
#email{
  margin-top: 1%;
  margin-right: auto;
  width: 100%;
}
#firstname{
width: 48%;
float:left;
}
#lastname{
width: 48%;
float: right;
}
/* Contact info and map */
.contact-card {
  width: 80%;
  background-color: rgba(161, 18, 18, 0.8);
  float: right;
  margin-right: 5%;
}
.map{
border: 3px rgba(161, 18, 18, 0.95) solid;
width: 80%;
height: 200px;
float: right;
margin-right: 5%;
margin-top: 3%;
}
.contact-text {
  color: white;
}
/* Submit button */
.submit{
  background-color: #a11212;
  border: none;
  color: white;
  padding: 15px 197px;
  cursor: pointer;
  transition: border-radius 1s;
}
.submit:hover{
  background-color: #6e0c0c;
}
/* Catalogue Products */
.carousel-cell {
  width: 22%;
  height: 400px;
  margin-right: 15px;
  background: rgba(255, 0, 0, 0);



  display: -webkit-box;
display: -webkit-flex;
display:         flex;
-webkit-box-pack: center;
-webkit-justify-content: center;
        justify-content: center;
-webkit-align-items: center;
        align-items: center;



        -webkit-transform: scale(0.85);
         transform: scale(0.85);
 -webkit-transition:  -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
         transition: transform 0.3s, filter 0.3s;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 400px;
  font-size: 80px;

}
.catalogueimg {
  width: 300px;
  height: 400px;
  margin-right: 15px;
}
.carousel-cell.is-selected{
  -webkit-transform: scale(1);
   transform: scale(1);
-webkit-transition:  -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
   transition: transform 0.3s, filter 0.3s;
}
/* Catalogue Carousel Indicators */
.flickity-page-dots{
    display:none;
}
/* Catalogue Row */
.catalogue-category{
    text-align: center;
  background-color: #B4B4B4;
  color: rgba(133, 18, 18, 0.9);
}
.catalogue-category-alt{
  text-align: center;
  background-color: rgba(133, 18, 18, 0.9);
  color: #ffffff;
}
/* Catalogue Caption */
.anchor-catalogue{
  text-decoration: none;
    font-weight: bold;
    overflow-wrap: break-word;

    color: white;
}
.anchor-catalogue:hover{
  text-decoration: none;
  color: white;
}
.anchor-catalogue-price{
  text-decoration: none;
    font-weight: bold;
    overflow-wrap: break-word;
    color: white;
    position: absolute;
    bottom: 5%;
    left: 40%;
}
.anchor-catalogue-price:hover{
  text-decoration: none;
  color: white;
}
.paragraph-catalogue{
  text-decoration: none;
    overflow-wrap: break-word;
    color: white;
}
.paragraph-catalogue:hover{
  text-decoration: none;
  color: white;
}
.catalogue-cap{
  position: absolute;
  bottom: 15%;
  text-align: center;
  background-color: rgba(133, 18, 18, 0.90);
  color: white;
  padding: 20px;
  transition: bottom 1s linear,  left 1s linear;
  opacity: 0;
height: 250px;
width: 175px;
max-width: 175px;
max-height: 250px;
}
.is-selected .catalogue-cap{
  bottom: 20%;
  left: -25%;
  opacity: 1;
animation-name: fadeInOpacity;
animation-iteration-count: 1;
animation-timing-function: linear;
animation-duration: 1s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* Invert Catalogue row */
.anchor-catalogue-alt{
  text-decoration: none;
  font-weight: bold;
  overflow-wrap: break-word;
  max-width: 200px;
  color: rgba(133, 18, 18, 0.90);
}
.anchor-catalogue-alt:hover{
  text-decoration: none;
  color: rgba(133, 18, 18, 1);
}
.anchor-catalogue-price-alt{
  text-decoration: none;
    font-weight: bold;
    overflow-wrap: break-word;
    color: #a11212;
    position: absolute;
    bottom: 5%;
    left: 40%;
}
.anchor-catalogue-price-alt:hover{
  text-decoration: none;
  color: #a11212;
}
.catalogue-cap-alt{
  position: absolute;
  bottom: 15%;
  text-align: center;
  background-color: rgba(180, 180, 180, 0.90);
  padding: 20px;
  transition: bottom 1s linear,  left 1s linear;
  opacity: 0;
height: 250px;
width: 175px;
max-width: 175px;
max-height: 250px;
}
.is-selected .catalogue-cap-alt{
  bottom: 20%;
  left: -25%;
  opacity: 1;
animation-name: fadeInOpacity;
animation-iteration-count: 1;
animation-timing-function: linear;
animation-duration: 1s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.paragraph-catalogue-alt{
  text-decoration: none;
    overflow-wrap: break-word;
    color: #a11212;
}
.paragraph-catalogue-alt:hover{
  text-decoration: none;
    overflow-wrap: break-word;
    color: #a11212;
}
/* About title */
.about {
  color: #a11212;
  text-align: center;
}
/* About body */
.about-body {
  color: #9c1313;
  padding-left: 2%;
  padding-right: 2%;
}
/* Business img on right column */
.business {
  width: 100%;
  border: 3px rgba(161, 18, 18, 0.95) solid;
/* Awrds & accolades */
}
.awardgroup {
  margin-top: 10%;
}
.award {
  border: 2px rgba(161, 18, 18, 0.95) solid;
  width: 25%;
  height: auto;
  float: right;
  margin-right: 5%;
}
/* Temporary product */
.product-img{
height: auto;
width: 100%;
border: 2px solid #a11212;
padding: 0%;
background: white;
}

.product-header{
  text-align: left;
  color: #a11212;
  margin-left: 10%;
}
.product-paragraph{
  text-align: left;
  margin-left: 10%;
  max-width: 50%;
  color: #a11212;
}
/* Temporary Product Table */
.product-table{
  margin-left: 10%;
  border: 3px rgba(161, 18, 18, 0.95) solid;
}
.product-table, .product-table td, .product-table th{
    border: 3px rgba(161, 18, 18, 0.95) solid;
}
.product-th th{
    background-color: #a11212;
    color: white;
}
.product-table td{
    background-color: white;

}
/* Add to cart button */
.addtocart{
  background-color: #a11212;
  border: none;
  color: white;
  padding: 15px 32px;
  cursor: pointer;
  float: right;
  margin-right: 60%;
}
.addtocart:hover{
  background-color: #6e0c0c;
}
/* Similar Items */
.product-h2{
  text-align: center;
  color: #a11212;
}
.product-category{
    text-align: center;
  background-color: #b4b4b4;
  color: rgba(133, 18, 18, 0.9);
  border: 3px solid rgba(133, 18, 18, 0.9);
  border-bottom: 0px;
}
.anchor-product{
  text-decoration: none;
    font-weight: bold;
    overflow-wrap: break-word;
    color: white;
}
.anchor-product:hover{
  text-decoration: none;
  color: white;
}
.paragraph-product{
  text-decoration: none;
    overflow-wrap: break-word;
    color: white;
}
.product-cap{
  position: absolute;
  bottom: 5%;
  text-align: center;
  background-color: rgba(133, 18, 18, 0.90);
  color: white;
  padding: 20px;

height: 75px;
width: 200px;
max-width: 175px;
max-height: 250px;
opacity: 0;
}
.is-selected .product-cap{
  bottom: 5%;
  opacity: 1;
}
.productimg{
    width: 150px;
    height: 200px;
    margin-right: 10px;
    position: absolute;
    top: 3%;

}
.carousel-cell-product {
  width: 25%;
  height: 300px;
  margin-right: 15px;
  background: rgba(255, 0, 0, 0);

  display: -webkit-box;
display: -webkit-flex;
display:         flex;
-webkit-box-pack: center;
-webkit-justify-content: center;
        justify-content: center;
-webkit-align-items: center;
        align-items: center;



        -webkit-transform: scale(0.85);
         transform: scale(0.85);
 -webkit-transition:  -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
         transition: transform 0.3s, filter 0.3s;
}

/* cell number */
.carousel-cell-product:before {
  display: block;
  text-align: center;
  line-height: 400px;
  font-size: 80px;
  color: white;
}
/* Order Page table */
#ordertable th{
  background-color: #a11212;
  color: white;
}
#ordertable td{
  background-color: white;
    border: 3px solid #a11212;
}
.cell1{
    width: 100%;
}
.cell2{
    text-align: right;
}
.cell3{
    text-align: right;
}
